body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background-image {
  background-image: url('https://i.pinimg.com/originals/01/ba/79/01ba7967ff854b41abee86d065d725dc.jpg'); /* Replace with your image URL */
  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the image */
  height: 2700px; /* Full height of the viewport */
  color: white; /* Text color */
  display: flex; /* Flexbox for centering */
  flex-direction: column; /* Column layout */
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1080px;
  height: 2350px;
}

.container {
  width: 1080px;
  gap: 20px;
}

.container1 {
  width: 1080px;
  gap: 20px;
}

.form-container {
  width: 1080px;
  background: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-container1 {
  width: 1080px;
  background: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 950px;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 50px;
}

button {
  width: 950px;
  height: 100px;
  padding: 10px;
  border: none;
  background-color: #5cb85c;
  border-radius: 5px;
  color: white;
  font-size: 50px;
}

#myBtnContainer {
  overflow: hidden;
  font-family: Arial;
  width: 1080px;
}

.container {
  overflow: hidden;
  align-items: space-between;
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

.btn {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

.btn.active {
  background-color: #666;
  color: white;
}

.button-container {
  display: flex;
  position: absolute;
  height: 2350px;
}

#signup {
  font-size: 50px;
  color: #333;
}

#login {
  font-size: 50px;
  color: #333;
}

#informations {
  font-size: 50px;
  background: #333;
}

#informations1 {
  font-size: 50px;
  background: #333;
}

#image1 {
  width: 1080px;
}

#dynamax-pokedex {
  height: 2350px;
}

#pokedexbutton1 {
  background-color: #5cb85c;
  border: solid white;
  width: 100px;
}

#pokedexbutton2 {
  border: solid white;
  background-color: #5cb85c;
  width: 100px;
}

#pokedexbutton3 {
  border: solid white;
  background-color: #5cb85c;
  width: 100px;
}

#pokedeximage1 {
  width: 70px;
}

#pokedeximage2 {
  width: 70px;
}

#pokedeximage3 {
  width: 70px;
}

#pokedexbutton4 {
  border: solid white;
  background-color: #FFA500;
  width: 100px;
}

#pokedexbutton5 {
  border: solid white;
  background-color: #FFA500;
  width: 100px;
}

#pokedexbutton6 {
  border: solid white;
  background-color: #FFA500;
  width: 100px;
}

#pokedeximage4 {
  width: 70px;
}

#pokedeximage5 {
  width: 70px;
}

#pokedeximage6 {
  width: 70px;
}

#pokedexbutton7 {
  border: solid white;
  background-color: #90D5FF;
  width: 100px;
}

#pokedexbutton8 {
  border: solid white;
  background-color: #90D5FF;
  width: 100px;
}

#pokedexbutton9 {
  border: solid white;
  background-color: #90D5FF;
  width: 100px;
}

#pokedeximage7 {
  width: 70px;
}

#pokedeximage8 {
  width: 70px;
}

#pokedeximage9 {
  width: 70px;
}

#pokedexbutton10 {
  border: solid white;
  background-color: purple;
  width: 100px;
}

#pokedexbutton11 {
  border: solid white;
  background-color: purple;
  width: 100px;
}

#pokedexbutton12 {
  border: solid white;
  background-color: purple;
  width: 100px;
}

#pokedeximage10 {
  width: 70px;
}

#pokedeximage11 {
  width: 70px;
}

#pokedeximage12 {
  width: 70px;
}

#pokedexbutton13 {
  border: solid white;
  background-color: darkcyan;
  width: 100px;
}

#pokedexbutton14 {
  border: solid white;
  background-color: darkcyan;
  width: 100px;
}

#pokedexbutton15 {
  border: solid white;
  background-color: darkcyan;
  width: 100px;
}

#pokedeximage13 {
  width: 70px;
}

#pokedeximage14 {
  width: 70px;
}

#pokedeximage15 {
  width: 70px;
}

#pokedexbutton16 {
  border: solid white;
  background-color: chocolate;
  width: 100px;
}

#pokedexbutton17 {
  border: solid white;
  background-color: chocolate;
  width: 100px;
}

#pokedexbutton18 {
  border: solid white;
  background-color: #5cb85c;
}

#pokedeximage16 {
  width: 70px;
}

#pokedeximage17 {
  width: 70px;
}

#pokedeximage18 {
  width: 70px;
}

#pokedexbutton19 {
  border: solid white;
  background-color: #5cb85c;
}

#pokedexbutton20 {
  border: solid white;
  background-color: #5cb85c;
}

#pokedexbutton21 {
  border: solid white;
  background-color: #FFA500;
}

#pokedeximage19 {
  width: 70px;
}

#pokedeximage20 {
  width: 70px;
}

#pokedeximage21 {
  width: 70px;
}

#pokedexbutton22 {
  background-color: #FFA500;
  border: solid white;
}

#pokedexbutton23 {
  border: solid white;
  background-color: #FFA500;
}

#pokedexbutton24 {
  border: solid white;
  background-color: #5cb85c;
}

#pokedeximage22 {
  width: 70px;
}

#pokedeximage23 {
  width: 70px;
}

#pokedeximage24 {
  width: 70px;
}

#pokedexbutton25 {
  border: solid white;
  background-color: #FFA500;
}

#pokedexbutton26 {
  border: solid white;
  background-color: #FFA500;
}

#pokedexbutton27 {
  border: solid white;
  background-color: #FFA500;
}

#pokedeximage25 {
  width: 70px;
}

#pokedeximage26 {
  width: 70px;
}

#pokedeximage27 {
  width: 70px;
}

#pokedexbutton28 {
  border: solid white;
  background-color: #90D5FF;
}

#pokedexbutton29 {
  border: solid white;
  background-color: #90D5FF;
}

#pokedexbutton30 {
  border: solid white;
  background-color: #90D5FF;
}

#pokedeximage28 {
  width: 70px;
}

#pokedeximage29 {
  width: 70px;
}

#pokedeximage30 {
  width: 70px;
}

#pokedexbutton31 {
  border: solid white;
  background-color: purple;
}

#pokedexbutton32 {
  border: solid white;
  background-color: purple;
}

#pokedexbutton33 {
  border: solid white;
  background-color: purple;
}

#pokedeximage31 {
  width: 70px;
}

#pokedeximage32 {
  width: 70px;
}

#pokedeximage33 {
  width: 70px;
}

#myHome {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myHome1 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#arrowleft {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
  width: 300px;
}

#arrowright {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
  width: 300px;
}

#arrowbuttons {
  display: flex;
}

#pokedeximageBulbasaur {
  width: 350px;
}

#pokedex1 {
  display: flex;
  justify-content: center; /* Center vertical */
}

#pokedexBulbasaur {
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexBulbasaurInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: #5cb85c;
  position: relative;
  display: inline-block;
}

#pokedexBulbasaurInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#Bulbasaur {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo1 {
  background-color: #5cb85c;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo18 {
  background-color: #5cb85c;
  border: solid white;
  width: 850px
}

#pokedeximageIvysaur {
  width: 350px;
}

#pokedex2 {
  display: flex;
  justify-content: center;
}

#pokedexIvysaur {
  border: solid white;
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexIvysaurInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: #5cb85c;
}

#pokedexIvysaurInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#pokedexIvysaurInfo2 {
  border: solid white;
  width: 957px;
  height: 370px;
  background-color: #333;
  position: absolute;
  display: inline-block;
}

#Ivysaur {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo2 {
  background-color: #5cb85c;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo19 {
  background-color: #5cb85c;
  border: solid white;
  width: 850px
}

#pokedeximageVenusaur {
  width: 350px;
}

#pokedex3 {
  display: flex;
  justify-content: center;
}

#pokedexVenusaur {
  border: solid white;
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexVenusaurInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: #5cb85c;
}

#pokedexVenusaurInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#Venusaur {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo3 {
  background-color: #5cb85c;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo20 {
  background-color: #5cb85c;
  border: solid white;
  width: 850px
}

#pokedeximageCharmander {
  width: 350px;
}

#pokedex4 {
  display: flex;
  justify-content: center;
}

#pokedexCharmander {
  border: solid white;
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexCharmanderInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: #FFA500;
}

#pokedexCharmanderInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#Charmander {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo4 {
  background-color: #FFA500;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo21 {
  background-color: #FFA500;
  border: solid white;
  width: 850px
}

#pokedeximageCharmeleon {
  width: 350px;
}

#pokedex5 {
  display: flex;
  justify-content: center;
}

#pokedexCharmeleon {
  border: solid white;
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexCharmeleonInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: #FFA500;
}

#pokedexCharmeleonInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#pokedexCharmeleonInfo2 {
  border: solid white;
  width: 957px;
  height: 370px;
  background-color: #333;
  position: absolute;
  display: inline-block;
}

#Charmeleon {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo5 {
  background-color: #FFA500;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo22 {
  background-color: #FFA500;
  border: solid white;
  width: 850px
}

#pokedeximageCharizard {
  width: 350px;
}

#pokedex6 {
  display: flex;
  justify-content: center;
}

#pokedexCharizard {
  border: solid white;
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexCharizardInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: #FFA500;
}

#pokedexCharizardInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#Charizard {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo6 {
  background-color: #FFA500;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo23 {
  background-color: #FFA500;
  border: solid white;
  width: 850px
}

#pokedeximageSquirtle {
  width: 350px;
}

#pokedex7 {
  display: flex;
  justify-content: center;
}

#pokedexSquirtle {
  border: solid white;
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexSquirtleInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: #90D5FF;
}

#pokedexSquirtleInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#Squirtle {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo7 {
  background-color: #90D5FF;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo24 {
  background-color: #90D5FF;
  border: solid white;
  width: 850px
}

#pokedeximageWartortle {
  width: 350px;
}

#pokedex8 {
  display: flex;
  justify-content: center;
}

#pokedexWartortle {
  border: solid white;
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexWartortleInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: #90D5FF;
}

#pokedexWartortleInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#Wartortle {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo8 {
  background-color: #90D5FF;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo25 {
  background-color: #90D5FF;
  border: solid white;
  width: 850px
}

#pokedeximageBlastoise {
  width: 350px;
}

#pokedex9 {
  display: flex;
  justify-content: center;
}

#pokedexBlastoise {
  border: solid white;
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexBlastoiseInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: #90D5FF;
}

#pokedexBlastoiseInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#Blastoise {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo9 {
  background-color: #90D5FF;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo26 {
  background-color: #90D5FF;
  border: solid white;
  width: 850px
}

#pokedeximageGastly {
  width: 350px;
}

#pokedex10 {
  display: flex;
  justify-content: center;
}

#pokedexGastly {
  border: solid white;
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexGastlyInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: purple;
}

#pokedexGastlyInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#Gastly {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo10 {
  background-color: purple;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo27 {
  background-color: chocolate;
  border: solid white;
  width: 850px
}

#pokedeximageHaunter {
  width: 350px;
}

#pokedex11 {
  display: flex;
  justify-content: center;
}

#pokedexHaunter {
  border: solid white;
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexHaunterInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: purple;
}

#pokedexHaunterInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#Haunter {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo11 {
  background-color: purple;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo28 {
  background-color: chocolate;
  border: solid white;
  width: 850px
}

#pokedeximageGengar {
  width: 350px;
}

#pokedex12 {
  display: flex;
  justify-content: center;
}

#pokedexGengar {
  border: solid white;
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexGengarInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: purple;
}

#pokedexGengarInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#Gengar {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo12 {
  background-color: purple;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo29 {
  background-color: gainsboro;
  border: solid white;
  width: 850px
}

#GengarTypeGhost {
  background-color: #333;
  border: solid black 5px;
  border-radius: 20px;
}

#GengarTypePoison {
  background-color: darkorchid;
  border: solid black 5px;
  border-radius: 20px;
}

#HaunterTypeGhost {
  background-color: #333;
  border: solid black 5px;
  border-radius: 20px;
}

#HaunterTypePoison {
  background-color: darkorchid;
  border: solid black 5px;
  border-radius: 20px;
}

#GastlyTypeGhost {
  background-color: #333;
  border: solid black 5px;
  border-radius: 20px;
}

#GastlyTypePoison {
  background-color: darkorchid;
  border: solid black 5px;
  border-radius: 20px;
}

#BlastoiseTypeWater {
  background-color: darkturquoise;
  border: solid black 5px;
  border-radius: 20px;
}

#WartortleTypeWater {
  background-color: darkturquoise;
  border: solid black 5px;
  border-radius: 20px;
}

#SquirtleTypeWater {
  background-color: darkturquoise;
  border: solid black 5px;
  border-radius: 20px;
}

#CharizardTypeFire {
  background-color: darkorange;
  border: solid black 5px;
  border-radius: 20px;
}

#CharizardTypeFlying {
  background-color: lightsteelblue;
  border: solid black 5px;
  border-radius: 20px;
}

#CharmeleonTypeFire {
  background-color: darkorange;
  border: solid black 5px;
  border-radius: 20px;
}

#CharmanderTypeFire {
  background-color: darkorange;
  border: solid black 5px;
  border-radius: 20px;
}

#VenusaurTypeGrass {
  background-color: yellowgreen;
  border: solid black 5px;
  border-radius: 20px;
}

#VenusaurTypePoison {
  background-color: darkorchid;
  border: solid black 5px;
  border-radius: 20px;
}

#IvysaurTypeGrass {
  background-color: yellowgreen;
  border: solid black 5px;
  border-radius: 20px;
}

#IvysaurTypePoison {
  background-color: darkorchid;
  border: solid black 5px;
  border-radius: 20px;
}

#BulbasaurTypeGrass {
  background-color: yellowgreen;
  border: solid black 5px;
  border-radius: 20px;
}

#BulbasaurTypePoison {
  background-color: darkorchid;
  border: solid black 5px;
  border-radius: 20px;
}

#BeldumTypeSteel {
  background-color: steelblue;
  border: solid black 5px;
  border-radius: 20px;
}

#BeldumTypePsychic {
  background-color: salmon;
  border: solid black 5px;
  border-radius: 20px;
}

#MetangTypeSteel {
  background-color: steelblue;
  border: solid black 5px;
  border-radius: 20px;
}

#MetangTypePsychic {
  background-color: salmon;
  border: solid black 5px;
  border-radius: 20px;
}

#MetagrossTypeSteel {
  background-color: steelblue;
  border: solid black 5px;
  border-radius: 20px;
}

#MetagrossTypePsychic {
  background-color: salmon;
  border: solid black 5px;
  border-radius: 20px;
}

#DrilburTypeGround {
  background-color: darkgoldenrod;
  border: solid black 5px;
  border-radius: 20px;
}

#ExcadrillTypeGround {
  background-color: darkgoldenrod;
  border: solid black 5px;
  border-radius: 20px;
}

#ExcadrillTypeSteel {
  background-color: steelblue;
  border: solid black 5px;
  border-radius: 20px;
}

#pokedeximageBeldum {
  width: 350px;
}

#pokedex13 {
  display: flex;
  justify-content: center;
}

#pokedexBeldum {
  border: solid white;
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexBeldumInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: darkcyan;
}

#pokedexBeldumInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#Beldum {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo13 {
  background-color: darkcyan;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo30 {
  background-color: gainsboro;
  border: solid white;
  width: 850px
}

#pokedeximageMetang {
  width: 350px;
}

#pokedex14 {
  display: flex;
  justify-content: center;
}

#pokedexMetang {
  border: solid white;
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexMetangInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: darkcyan;
}

#pokedexMetangInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#Metang {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo14 {
  background-color: darkcyan;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo31 {
  background-color: purple;
  border: solid white;
  width: 850px
}

#pokedeximageMetagross {
  width: 350px;
}

#pokedex15 {
  display: flex;
  justify-content: center;
}

#pokedexMetagross {
  border: solid white;
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexMetagrossInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: darkcyan;
}

#pokedexMetagrossInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#Metagross {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo15 {
  background-color: darkcyan;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo32 {
  background-color: purple;
  border: solid white;
  width: 850px
}

#pokedeximageDrilbur {
  width: 350px;
}

#pokedex16 {
  display: flex;
  justify-content: center;
}

#pokedexDrilbur {
  border: solid white;
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexDrilburInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: chocolate;
}

#pokedexDrilburInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#Drilbur {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo16 {
  background-color: chocolate;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo33 {
  background-color: brown;
  border: solid white;
  width: 850px
}

#pokedeximageExcadrill {
  width: 350px;
}

#pokedex17 {
  display: flex;
  justify-content: center;
}

#pokedexExcadrill {
  border: solid white;
  width: 400px;
  height: 2000px;
  justify-content: center; /* Center vertical */
  align-items: center; /* Center horizontal */
  text-align: center; /* Center text */
}

#pokedexExcadrillInfo {
  border: solid white;
  width: 400px;
  height: 2000px;
  background-color: chocolate;
}

#pokedexExcadrillInfo1 {
  border: solid white;
  width: 550px;
  height: 2000px;
  background-color: #333;
  position: relative;
  display: inline-block;
}

#Excadrill {
  display: flex;
  justify-content: center;
}

#pokedexbuttoninfo17 {
  background-color: chocolate;
  border: solid white;
  width: 850px
}

#pokedexbuttoninfo34 {
  background-color: black;
  border: solid white;
  width: 850px
}

#pokeballicon {
  width: 60px;
}

#informationicon {
  width: 200px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

#myBack1 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myBack2 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myBack3 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myBack4 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myBack5 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myBack6 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myBack7 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myBack8 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myBack9 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myBack10 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myBack11 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myBack12 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myBack13 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myBack14 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myBack15 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myBack16 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}

#myBack17 {
  padding: 12px 16px;
  color: white;
  background-color: #333;
  border: solid white;
  cursor: pointer;
}